KARTON_LOGGING_LEVEL={{ karton_log_level }}
KARTON_MINIO_ACCESS_KEY={{ minio_access_key }}
KARTON_MINIO_SECRET_KEY={{ minio_secret_key }}
KARTON_MINIO_ADDRESS={{ minio_address }}
KARTON_MINIO_BUCKET={{ minio_bucket }}
KARTON_REDIS_HOST={{ redis_host }}
KARTON_REDIS_PIRT={{ redis_port }}
