KARTON_LOGGING_LEVEL={{ karton_log_level }}
KARTON_S3_ACCESS_KEY={{ s3_access_key }}
KARTON_S3_SECRET_KEY={{ s3_secret_key }}
KARTON_S3_ADDRESS={{ s3_address }}
KARTON_S3_BUCKET={{ s3_bucket }}
KARTON_REDIS_HOST={{ redis_host }}
KARTON_REDIS_PIRT={{ redis_port }}
