[Unit]
Description={{ extractor_service }} service
After=network.target redis.service minio.service
Requires=redis.service minio.service

[Service]
ExecStart={{ extractor_service_command }}
Restart=on-failure
User={{ extractor_user }}

[Install]
WantedBy=multi-user.target
