[Unit]
# %j doesn't work because we have service names with dashes in them
Description=%p service
After=network.target redis.service minio.service
Requires=redis.service minio.service

[Service]
ExecStart=/opt/extractor/bin/%p --config-file /opt/extractor/etc/extractor.ini
Restart=on-failure
User=extractor

[Install]
WantedBy=multi-user.target
