# karton config
[logging]
level = {{ karton_log_level }}

[s3]
access_key = {{ s3_access_key }}
secret_key = {{ s3_secret_key }}
address = {{ s3_address }}
bucket = {{ s3_bucket }}

[redis]
host={{ redis_host }}
port={{ redis_port }}
