# karton config
[logging]
level = {{ karton_log_level }}

[minio]
access_key = {{ minio_access_key }}
secret_key = {{ minio_secret_key }}
address = {{ minio_address }}
bucket = {{ minio_bucket }}
secure = {{ minio_secure }}

[redis]
host={{ redis_host }}
port={{ redis_port }}
